.imageContainer {
    position: relative;
    width: 309px;
    height: 309px;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.iconsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.imageContainer:hover .iconsContainer {
    visibility: visible;
}

.hoverBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.postInformation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
}

.postInformation svg {
    width: 24px;
    height: 24px;
}

.modalBackdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}