
.link {
    text-decoration: none;
    color: white;
}

.itemContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 95%;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    margin-bottom: 0.2rem;
}

.itemSelected {
    background-color: rgb(255, 255, 255, 0.2);
}

.itemContainer:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.itemImg svg {
    width: 24px;
    height: 24px;
}

.itemImg img {
    border-radius: 50px;
    width: 34px;
    height: 34px;
    position: relative;
    left: -4px;
}


.itemText {
    margin-left: 0.5rem;
    font-weight: 650;
}

.follow {
    border: none;
    color: rgb(0, 149, 246);
    cursor: pointer;
    margin-left: 7rem;
    font-size: 0.8rem;
    font-weight: 700;
    transition: color 0.15s ease-in-out;
}

.follow:hover {
    color: white;
}