@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.sidebarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(168, 168, 168, 0.3);
    width: 18vw;
    min-width: 11rem;
    height: 100vh;
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;

}

.header span {
    margin-left: 1rem;
    font-size: 1.7rem;
    font-family: "Lobster", cursive;
    font-weight: 500;
}

.link {
    color: white;
    text-decoration: none;
    
}

.footerIcons {
    margin-bottom: 1rem;
}