
.post_container {
    height: 50rem;
    width: 29rem;
    max-width: 29rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid gray;
    display: grid;
    grid-template-rows: 6% 1fr 6% 1fr;
    grid-template-areas: 
    "header"
    "image"
    "icons"
    "description_comments";
}

.post_header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: gray;
    width: 100%;
    height: 100%;
}

.profile_pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.post_header_username {
    font-weight: 700;
    color: white;
}

.post_header_date {
    
}

.more {
    margin-left: 16rem;
}

.more svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.post_images {
    grid-area: image;
    max-height: 36.5rem;
    width: 100%;
    
}

.post_images img {
    max-width: 29rem;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.post_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_icons {
    grid-area: icons;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}


.post_icons svg {
    height: 28px;
    width: 28px;
    transition: opacity 0.15s ease-in-out;
}

.post_icons svg:hover {
    opacity: 0.7;
}

.icon svg {
    height: 28px;
    width: 28px;
    transition: opacity 0.15s ease-in-out;
}

.icon svg:hover {
    opacity: 0.7;
}

.post_description_comments {
    grid-area: description_comments;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    font-size: 0.9rem;
    max-width: 29rem;
}

.likes_amount {
    font-weight: 700;
}

.description {
    display: flex;
    flex-wrap: wrap;
    max-width: 29rem;
    font-weight: 500;
    word-break: break-all;
}


.description_username {
    font-weight: 700;
    margin-right: 0.3rem;
}

.comments {
    cursor: pointer;
    color: rgb(168, 168, 168);
}

.comment_color {
    color: rgb(168, 168, 168);
}
