.postsOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    opacity: 0.7;
}

.userPosts {
    max-width: 937px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.postsOptions span {
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 1rem;
}

.sharePhotosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sharePhotosContainer svg {
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(38,38,38);
    border-radius: 50%;
    padding: 0.5rem;
}

.sharePhotosHeader {
    font-weight: 900;
    font-size: 1.8rem;
}

.sharePhotosDescription {
    text-align: center;
    text-wrap: wrap;
    width: 90%;
}

.sharePhotosLink {
    font-weight: 600;
    color: rgb(0, 149, 246);
    transition: color 0.15s ease-in-out;
}

.sharePhotosLink:hover {
    color: white;
}