
.container {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-areas: "sidebar main suggested";
    height: 200vh;
    background-color: black;
}

.sidebar {
    grid-area: sidebar;
    width: 18%;
}

.main_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story_list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 6rem;
    width: 100%;
}

.suggested_container {
    grid-area: suggested;
}