.container {
    display: grid;
    grid-template-columns: 18% 1fr 62%;
    grid-template-areas: "sidebar settings content";
    height: 100vh;
}

.side_bar {
    grid-area: sidebar;
}

.settings {
    grid-area: settings;
    border-right: 1px solid rgb(168, 168, 168, 0.3);
    padding: 3.5rem 2rem;
}

.settingsHeader {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
}